@import url('https://fonts.googleapis.com/css?family=Arvo');
/* font-family: 'Arvo', serif; */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Arvo', serif;
    background-color: #EDEDED;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 45px;
}

h1, main {
    margin: 50px 0;
}

main {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 540px;
    margin-bottom: 80px;
    position: relative;
    width: 402px;
    /* besoin width précis pour les absolute qui se réfèrent au main */
}

a {
    outline:none;
}

#corps {
    background-image: url('../img/qijx.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 192px;
    position: relative;
}

#placeholder {
    width: 210px;
}

.desc {
    height: 0.5%;
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-align: left;
    overflow: hidden;

    filter: opacity(0%);
    transition: filter 300ms;
}

.cercle {
    background-color: black;
    border-radius: 50%;
    height: 62px;
    width: 62px;
    filter: opacity(70%);
    z-index: 9;
}

cercle:hover {
    background-color: red;
}

/* positionnements et relations descriptions */

#epaule {
    position: relative;
    left : 160px;
    top: 130px;	
	
}

#epaule:hover ~ #placeholder #desc-epaule {
    height: 100%;
    filter: opacity(100%);
    transition: filter 300ms;
}

#genoux {
    position: relative;
    left : 180px;
    top: 340px;	
}
 
#genoux:hover ~ #placeholder #desc-genoux {
    height: 100%;
    filter: opacity(100%);
    transition: filter 300ms;

}

#poignet {
    position: relative;
    left : 85px;
    top: 240px;	
}

#poignet:hover ~ #placeholder #desc-poignet {
    height: 100%;
    filter: opacity(100%);
    transition: filter 300ms;
}

#cheville {
    position: relative;
    left : 80px;
    top: 400px;	
}

#cheville:hover ~ #placeholder #desc-cheville {
    height: 100%;
    filter: opacity(100%);
    transition: filter 300ms;
}

#tete {
    position: relative;
    left : 70px;
    top: 95px;	
}

#tete:hover ~ #placeholder #desc-tete {
    height: 100%;
    filter: opacity(100%);
    transition: filter 300ms;
}